/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {width:940px; padding:10px; margin:0 auto; overflow:hidden;}

    #header {position:relative; height:100px; padding:0 0 0 35px; background:url("../../tpl/img/header.gif") 0 0 no-repeat; overflow:hidden;}
   #header #logo {
	   
	  /* margin:0; */
	   }
    
        #slogan {position:absolute; top:30px; right:0; width:275px; padding:10px 10px 10px 15px; background:url("../../tpl/img/pattern.gif");}
    
    #nav {position:relative; padding:0 20px; background:url("../../tpl/img/nav.gif") 0 0 repeat-x;}
    #nav ul {margin:0; list-style:none;}
    #nav ul li {display:inline;}
    #nav ul li a {display:block; float:left; padding:9px 15px; background:url("../../tpl/img/nav-separator.gif") 100% 0 repeat-y; text-decoration:none;}
    #nav a:hover {text-decoration:underline;}
    #nav ul li.active, #nav ul li.active a {font-weight:bold;}
    #nav #feeds {position:absolute; top:9px; right:25px; margin:0;}
    #nav #feeds a:hover {text-decoration:none;}

    #cols {margin-bottom:10px; background:url("../../tpl/img/2-col-a.gif") 0 0 no-repeat;}
    #cols-in {min-height:430px; padding:20px; background:url("../../tpl/img/2-col-b.gif") 0 100% no-repeat;}
    
        #content {float:right; width:601px; margin: 0 -1px;}
        #aside {float:left; width:280px;}
        #content .in, #aside .in {padding:15px;}

    #footer {padding:15px 15px 5px 15px;}
    #footer p {margin:0;}
    
        #ico-print {padding-left:12px; background:url("../../tpl/img/ico-print.gif") 0 50% no-repeat;}
        #ico-sitemap {margin-left:10px; padding-left:10px; background:url("../../tpl/img/ico-sitemap.gif") 0 50% no-repeat;}

        .ico-rss {padding-left:18px; background:url("../../tpl/img/ico-rss.gif") 0 50% no-repeat;}

    #copy {margin:15px auto 0 auto; width:910px; font-size:90%;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#breadcrumbs {margin:0; font-size:90%;}
#breadcrumbs a:hover {text-decoration:none;}
#breadcrumbs span {margin:0 3px;}

#topstory-img {float:left; width:200px;}
#topstory-img img {display:block;}
#topstory-txt {float:right; width:355px;}
#topstory-txt h3 {margin:0; font-size:140%; font-weight:normal;}
#topstory-txt #topstory-info {margin:0; font-size:90%;}
#topstory-txt .comment {padding-left:12px; background:url("../../tpl/img/ico-comment.gif") 0 2px no-repeat;}

.cols5050 {clear:both; background:url("../../tpl/img/dot-01.gif") 0 100% repeat-x;}
.cols5050 .col {float:left; width:275px;}
.cols5050 .col .article {clear:both; margin-bottom:15px;}
.cols5050 .col .article-img {float:left; width:85px;}
.cols5050 .col .article-img img {display:block;}
.cols5050 .col .article-txt {float:right; width:175px;}
.cols5050 .col .article-txt h4 {margin:0; margin-bottom:7px; font-size:110%;}
.cols5050 .col .article-txt p {margin:0; font-size:90%;}

#subnav {margin:0; list-style:none;}
#subnav li {display:inline;}
#subnav li a {display:block; padding:4px 10px 4px 25px; background:url("../../tpl/img/subnav.gif") 10px 50% no-repeat;}
#subnav li a:hover {text-decoration:none;}
#subnav li.last a {border:0;}

dl#news {margin:0; background:url("../../tpl/img/dot-02.gif") 3px 0 repeat-y;}
dl#news dd {margin:0; margin-bottom:10px; padding-left:15px;}
dl#news a:hover {text-decoration:none;}

#gallery-in {padding:15px; background:url("../../tpl/img/gallery.gif") 0 0 repeat-x;}
#gallery .separator {width:910px; height:2px; margin:10px 0; background:url("../../tpl/img/separator.gif") 0 0 repeat-x; font-size:0; line-height:0; overflow:hidden;}
#gallery img {margin-right:18px;}
#gallery a.last img {margin:0;}
