/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     Nuvio (www.nuvio.cz)
    Update:     2008-08-17, 13:17 GMT+1
    Version:    2.2.6 (2008-07-13, 14:28 GMT+1)

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:

        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {background-color:#dfdfdf; color:#3f3f3f;}

a {color:#009832;}
a:hover {color:#000;}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {background:#FFF;}

    #header {background-color:#009832;}

        #slogan {color:#FFF;}

    #nav {border-top:1px solid #FFF; border-bottom:1px solid #FFF; background:#EFEFEF;}
    #nav a {color:#3f3f3f;}
    #nav ul li.active, #nav ul li.active a {color:#009832;}

    #footer, #footer a {color:#5F5F5F;}
    #footer a:hover {color:#3f3f3f;}

        .ico-rss {color:#3F3F3F;}

    #copy, #copy a {color:#7F7F7F;}
    #copy a:hover {color:#3F3F3F;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */
div.login {
	border: 1px solid #0B4406;
	width: 250px;
	background:  -moz-linear-gradient(19% 75% 90deg,#1A6123, #2fb140);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#2fb140), to(#1A6123));
	margin:50px auto;
	padding: 20px;
}

.login p {
	color: #FFFFFF;
	border: 1px solid #C5D0F1;
	eight:auto;
	color:#0234CA;
	padding:10px 10px 10px 10px;
	background-color: #DCE4FD;
	width: 224px;
}

label.login {
	font-size: 12px;
	font-family: arial, sans-serif;
	list-style-type: none;
	color: #fff;
	text-shadow: #000 1px 1px;
	margin-bottom: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
}

input.login {
  -webkit-transition-property: -webkit-box-shadow, background;
  -webkit-transition-duration: 0.25s;
  	padding: 6px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 1px solid #3EDE53;
	-moz-box-shadow: 0px 0px 2px #000;
	-webkit-box-shadow: 0px 0px 2px #000;
	margin-bottom: 10px;
	background: #2fb140;
	width: 234px;
    color: #fff;
}

input.submit {
  -webkit-transition-property: -webkit-box-shadow, background;
  -webkit-transition-duration: 0.25s;
	width: 100px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2fb140), to(#1A6123));
	background:  -moz-linear-gradient(19% 75% 90deg,#1A6123, #2fb140);
	color: #fff;
	text-transform: uppercase;
	text-shadow: #000 1px 1px;
	border-top: none;
	margin-top: 10px;
}

input.submit:hover {
	-webkit-box-shadow: 0px 0px 2px #000;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1A6123), to(#2fb140));
	background:  -moz-linear-gradient(19% 75% 90deg,#2fb140, #1A6123);
}

input.submit:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1A6123), to(#2fb140));
	background:  -moz-linear-gradient(19% 75% 90deg,#2fb140, #1A6123);
}

input.login:hover {
	-webkit-box-shadow: 0px 0px 4px #000;
	background: #3DD951;
}

#logo {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 230px;
    height: 93px;
    background: url(../img/login-logo.png);
    background-repeat: no-repeat;
}

#error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/error.png');
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}

hr {
    color: #CCC;
}

#breadcrumbs a {color:#5f5f5f;}

#subnav li a {border-bottom:1px solid #efefef; color:#3f3f3f;}
#subnav li.active a {background-color:#ebf9ef;}

dl#news dt {background-color:#FFF;}
dl#news dd a {color:#3f3f3f;}

#gallery-in {border-bottom:1px solid #DDDDDD; background-color:#EFEFEF;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

#form {width:570px;margin: 20px 0 40px 0;}
.notification_login{width: 175px !important;}
.notification_error, .notification_login{border: 1px solid #F1C5C5;height:auto;color:#CA0202;width:493px;padding:10px 10px 10px 60px;background:url(../img/icons/error.png) no-repeat center left #FDDCDC;text-align:left;-moz-border-radius:5px;margin-bottom:10px;}
.notification_ok{border: 1px solid #C9F1C5;height:auto;color:#13CA02;width:493px;padding:10px 10px 10px 60px;background:url(../img/icons/success.png) no-repeat center left #DFFDDC;text-align:left;-moz-border-radius:5px;margin-bottom:10px;}
.notification_info{border: 1px solid #C5D0F1;height:auto;color:#0234CA;width:493px;padding:10px 10px 10px 60px;background:url(../img/icons/info.png) no-repeat center left #DCE4FD;text-align:left;-moz-border-radius:5px;margin-bottom:10px;}
.notification_warning{border: 1px solid #F1DFC5;height:auto;color:#CA7702;width:493px;padding:10px 10px 10px 60px;background:url(../img/icons/warning.png) no-repeat center left #FDEFDC;text-align:left;-moz-border-radius:5px;margin-bottom:10px;}
label  {/* width: 136px; */margin:5px;float:left;/* text-align:left; */}
textarea{height:120px;width:400px;margin:5px;padding:5px;float:left;border:1px solid #cccccc;color:#333333;font:11px Verdana, Helvetica, Arial, sans-serif;-moz-border-radius: 3px;}
.textbox {/* width:400px; *//* height:15px; *//* margin:5px; *//* padding:5px; *//* float:left; *//* border:1px solid #cccccc; *//* color:#333333; *//* font:11px Verdana, Helvetica, Arial, sans-serif; */-moz-border-radius: 3px;}
.selectbox {width:412px;margin:5px;padding:5px;float:left;border:1px solid #cccccc;color:#333333;font:11px Verdana, Helvetica, Arial, sans-serif;-moz-border-radius: 3px;}

.title-01 {background-color:green; color:#fff;}
.title-02 span {background:#FFF;}
.title-03, .title-03.gallery {background-color:#009832; color:#fff;}
.title-03 a {color:#FFF;}
.title-04 {color:#009832;}

.comment, .more {color:#3F3F3F;}



/*
 * extra
 */


#container{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

img{
	display: inline;
}

#gallery, #thumbs{
	float: left;
}

#gallery{
	width: 501px;
	height: 300px;
	overflow: hidden;
}

#gallery img{
	position: absolute;
}

#thumbs{
	width: 100px;
	height: 188px;
	overflow: hidden;
}

#next{
	display: block;
	width: 47px;
	height: 43px;
	background: url(img/arrow.png);
	position: relative;
	top: 145px;
	left: 508px;
}

#next:hover{
	background: url(img/arrowmo.png);
}

.clear{
	clear: both;
}